<script>
    $(document.body).attr("class", "notransition");
</script>

<link href="/css/jquery-ui.css" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet">
<!-- Header -->

<div id="header">
    <div class="logo">
        <a href="/">
            <span class="fa fa-home marker"></span>
            <span class="logoText">홈</span>
        </a>
    </div>
    <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
    
    <!--맨위 검색바 시작-->
    <div class="search">
        <span class="searchIcon icon-magnifier"></span>
        <input type="text" placeholder="장소 검색">
    </div>
    <!--맨위 검색바 끝-->
    
    <!--맨위에 알람하고 사용자 설정-->
    <div class="headerUserWraper">
        <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
        <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
            <img class="avatar headerAvatar pull-left" src="/images/avatar-1.png" alt="avatar">
            <div class="userTop pull-left">
                <span class="headerUserName">사용자 이름</span> <span class="fa fa-angle-down"></span>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="dropdown-menu pull-right userMenu" role="menu">
            <div class="mobAvatar">
                <img class="avatar mobAvatarImg" src="/images/avatar-1.png" alt="avatar">
                <div class="mobAvatarName">사용자 이름</div>
            </div>
            <ul>
                <li><a href="#"><span class="icon-settings"></span>설정</a></li>
                <li><a href="profile.html"><span class="icon-user"></span>프로필</a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon-power"></span>로그아웃</a></li>
            </ul>
        </div>
    </div>
    <!--맨위에 알람하고 사용자 설정 끝-->
    
    <!--맨위 알림 토글 다운-->
    <div class="headerNotifyWraper">
        <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
            <span class="notifyIcon icon-bell"></span>
            <span class="counter">5</span>
        </a>
        <div class="dropdown-menu pull-right notifyMenu" role="menu">
            <div class="notifyHeader">
                <span>알림</span>
                <a href="#" class="notifySettings icon-settings"></a>
                <div class="clearfix"></div>
            </div>
            <ul class="notifyList">
                <li>
                    <a href="#">
                        <div class="notifyRound notifyRound-yellow fa fa-heart-o"></div>
                        <div class="pulse border-yellow"></div>
                        <div class="notify pull-left">
                            <div class="notifyName">관심아티스트 누구누구 공연입니다</div>
                            <div class="notifyTime">2 시간 후</div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifyRound notifyRound-yellow fa fa-heart-o"></div>
                        <div class="pulse border-yellow"></div>
                        <div class="notify pull-left">
                            <div class="notifyName">관심아티스트 누구누구 공연입니다</div>
                            <div class="notifyTime">2 시간 후</div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            </ul>
            <a href="#" class="notifyAll">모두 보기</a>
        </div>
    </div>
    <a href="#" class="mapHandler"><span class="icon-map"></span></a>
    <div class="clearfix"></div>
</div>
<!--맨위에 사용자 알람 토글다운 끝-->

 <!--왼쪽 사이드바 설정 시작 -->
<div id="leftSide">
    <nav class="leftNav scrollable">
        <div class="search">
            <span class="searchIcon icon-magnifier"></span>
            <input type="text" placeholder="장소 검색">
            <div class="clearfix"></div>
        </div>
        <ul>
            <li><a href="/culture/explore"><span class="navIcon icon-compass"></span><span class="navLabel">공연<br>모아보기</span></a></li>
            <li><a href="/culture/pfadd"><span class="navIcon icon-home"></span><span class="navLabel">공연자<br>모아보기</span></a></li>
            <li><a href="/culture/add"><span class="navIcon icon-plus"></span><span class="navLabel">공연 등록</span></a></li>
        </ul>
    </nav>
</div>

<div class="closeLeftSide"></div>
<!--왼쪽 사이드바 설정 끝-->


<!--오른쪽 컨텐츠 시작-->
<div id="wrapper">
    <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> 지도를 불러오는 중입니다</div></div>
    <div id="content" class="mob-max">
        <div class="singleTop whiteBg">
            <div class="row mb20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb20">
                    <div class="row">
                        <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
                        </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="figure">
                                <img src="/images/prop/2-1.png" alt="image">
                                </div>
                                
                            </div>
                            <br>
                        <div class="col-xs-3 col-lg-3 col-sm-3 col-md-3">
                            <a class="btn btn-round btn-magenta" data-toggle="tooltip" data-tooltip-class="magenta" data-placement="right" title="" data-original-title="Tooltip on right">관심 아티스트 등록</a>
                        </div>
                    </div>
                    
                    
                    
                    <ul class="pc-stats">
                        <li><span>280</span>좋아하는 사람 </li>
                        <li><span>36</span>공연 수</li>
                        <li><span>1</span>공연 취소 수</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 pb20">
                    <div class="pc-about osLight">팀 이름</div>
                    <div class="pb20">알스 아망디(내용)</div>
                </div>
        
            

                <div class="col-md-6 pb20">
                    <div class="pc-about osLight">장르 </div>
                    <div class="pb20">장르는 뭐뭐 입니다 (출력)</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 pb20">
                    <div class="pc-about osLight">주로 공연하는 지역 </div>
                    <div class="pb20">어디어디  (내용)</div>
                </div>
                
                <div class="col-md-6 pb20">
                    <div class="pc-about osLight"> SNS </div>
                    <div class="pb20"><div class="pc-social"><a href="#" class="btn btn-icon btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-icon btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-icon btn-google"><span class="fa fa-google-plus"></span></a> <a href="#" class="btn btn-icon btn-pinterest"><span class="fa fa-pinterest"></span></a></div></div>
                </div>
                
            </div>
            <br>

            <div class="row">
                <div class="col-md-12 pb20">
                    <div class="pc-about osLight">팀 소개</div>
                    <div class="pb20"> 한양대학교 동아리로 7년 됬어요 (내용) 멤버는 누구누구누구 있습니다 ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</div>
                </div>
            </div>
            <a href="/culture/pf_update/<%= @pfid.id %>" class="btn btn-round btn-primary">수정</a>
            <a href="#" data-toggle="modal" data-target="#remove_alert" class="btn btn-round btn-danger">삭제</a>
        </div>
        
        <div class="rightContainer">
            <h3>이전 공연</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="/culture/single" class="card">
                        <div class="figure">
                            <img src="/images/prop/2-1.png" alt="image">
                            <div class="figView"><span class="icon-eye"></span></div>
                            <div class="figType">공연 종료</div>
                        </div>
                        
                        <h2>Ars-Amandi 6번째 정기공연</h2>
                        <div class="cardAddress"><span class="icon-pointer"></span> 한양대학교 노천극장</div>
                        <div class="cardRating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            (123)
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="/culture/single" class="card">
                        <div class="figure">
                            <img src="/images/prop/2-1.png" alt="image">
                            <div class="figView"><span class="icon-eye"></span></div>
                            <div class="figType">공연 종료</div>
                        </div>
                        
                        <h2>공연 이름</h2>
                        <div class="cardAddress"><span class="icon-pointer"></span> 공연 장소 짤막하게</div>
                        <div class="cardRating">
                            <!--공연 평점-->
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <!--공연 리플수-->
                            (123)
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="/culture/single" class="card">
                        <div class="figure">
                            <img src="/images/prop/2-1.png" alt="image">
                            <div class="figView"><span class="icon-eye"></span></div>
                            <div class="figType">공연 종료</div>
                        </div>
                        
                        <h2>공연 이름</h2>
                        <div class="cardAddress"><span class="icon-pointer"></span> 공연 장소 짤막하게</div>
                        <div class="cardRating">
                            <!--공연 평점-->
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <!--공연 리플수-->
                            (123)
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="/culture/single" class="card">
                        <div class="figure">
                            <img src="/images/prop/2-1.png" alt="image">
                            <div class="figView"><span class="icon-eye"></span></div>
                            <div class="figType">공연 종료</div>
                        </div>
                        
                        <h2>공연 이름</h2>
                        <div class="cardAddress"><span class="icon-pointer"></span> 공연 장소 짤막하게</div>
                        <div class="cardRating">
                            <!--공연 평점-->
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <!--공연 리플수-->
                            (123)
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            
            <!--밑에 오른쪽 공연정보 페이지 넘기는거-->
            <ul class="pagination">
                <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--삭제 뜨는거-->
<div class="modal fade" id="remove_alert" role="dialog" aria-labelledby="remove_alertLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                
                <center>정말로 삭제하시겠습니까?</center>
                
            </div>
            <div class="modal-body">
                <center><a href="/culture/pf_delete/<%= @pfid.id %>"><button type="button" class="btn btn-primary">OK</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>                        
            </div>
        </div>
    </div>
</div>

<!--모달 종료-->

    
<script src="/js/json2.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/moment-2.5.1.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery-ui-touch-punch.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/jquery.touchSwipe.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.visible.js"></script>
<script src="/js/clndr.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<script src="/js/calendar.js"></script>
<script src="/js/app.js"></script>